<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @line.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @line.colour %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @line.stripe %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
