<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @route.colour %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @route.stripe %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
